<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <div id="app">
    <template>
      <el-card :style="maxHeight" v-loading.fullscreen.lock="fullscreenLoading">
        <el-tabs v-model="name" @tab-click="handleClick">
          <el-tab-pane label="汇总数据" name="summer"></el-tab-pane>
          <el-tab-pane label="战绩查看" name="see"></el-tab-pane>
          <el-tab-pane label="悬赏查看" name="seeR"></el-tab-pane>
          <el-tab-pane label="用前必读" name="read"></el-tab-pane>
          <el-tab-pane label="战绩录入" name="record"></el-tab-pane>
          <el-tab-pane label="悬赏录入" name="reward"></el-tab-pane>
          <el-tab-pane label="成员管理" name="user"></el-tab-pane>
        </el-tabs>
        <div style="margin: 0px 10px 20px 10px;">
          <span>今天属于统计数据以来的第{{week}}周</span>
          <span style="float: right;">
            选择查看（录入）周数：<el-input-number size="small" v-model="time" @change="weekChange" :min="1" label="请选择周数"></el-input-number>
          </span>
        </div>
        <div v-if="activeName == 'summer'">
          <el-card class="box-card">
            <el-table
              border
              show-summary
              :data="summerData"
              style="width: 100%"
              :height="fullHeight - 170"
              :default-sort = "{prop: '总分', order: 'descending'}"
              >
              <el-table-column
                prop="成员"
                label="成员"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="总分"
                label="总分"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                v-for="item in title"
                :prop="item"
                sortable
                :label="item"
                min-width="200">
                <!-- <template slot-scope="scope">{{ scope.row[item] || 0}}</template> -->
              </el-table-column>
            </el-table>
          </el-card>
        </div>
        <div v-if="activeName == 'see'">
          <el-card class="box-card">
            <el-table
              border
              :data="orgData"
              style="width: 100%"
              :height="fullHeight - 170"
              :default-sort = "{prop: '项目', order: 'descending'}">
              <el-table-column
                prop="成员"
                sortable
                label="成员"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="项目"
                sortable
                label="项目"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="成绩"
                label="成绩"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="分数"
                label="分数"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="时间"
                label="时间"
                sortable
                min-width="200">
              </el-table-column>
            </el-table>
          </el-card>
        </div>
        <div v-if="activeName == 'seeR'">
          <el-card class="box-card">
            <el-table
              border
              :data="rewardData"
              style="width: 100%"
              :height="fullHeight - 170"
              border
              :default-sort = "{prop: '类型', order: 'descending'}">
              <el-table-column
                prop="User__Name"
                sortable
                label="提供者"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="Type"
                sortable
                label="类型"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="Participant"
                label="参与人"
                min-width="250">
              </el-table-column>
              <el-table-column
                prop="Time"
                label="时间"
                sortable
                min-width="200">
              </el-table-column>
            </el-table>
          </el-card>
        </div>
        <div v-if="activeName == 'record'">
          <el-form class="form" label-width="100px">
            <el-row :gutter="20">
              <el-col :sm="12" :lg="8" :xl="6">
                <el-form-item label="项目">
                  <el-select
                    v-model="project_id"
                    class="w-100"
                    @change="projectChange"
                    placeholder="请选择项目">
                    <el-option
                      v-for="item in project_list"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-upload
                class="upload-demo"
                action="recordUpload"
                :on-success="uploadSuccess"
                :data="uploadData"
                :before-upload="beforeUpload"
                :limit="5"
                :file-list="fileList"
                :on-exceed="handleExceed"
                multiple
                :show-file-list="false">
                <el-button type="primary">上传战绩图片</el-button>
                <span slot="tip" class="el-upload__tip"> 只能上传jpg/png文件，目前只能单张上传</span>
              </el-upload>
              <el-button style="float: right; margin-right: 20px" type="primary" plain @click="saveRecord">保存</el-button>
            </el-row>
          </el-form>
          <el-card class="box-card">
            <el-form class="form" label-width="150px">
              <el-row :gutter="20">
                <el-col v-for="item in user_record" :sm="12" :lg="8" :xl="6">
                  <el-form-item :label="item.user_name">
                    <el-input v-model.number ="item.result"  placeholder="请输入成绩"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </el-card>
        </div>
        <div v-if="activeName == 'reward'">
          <el-form class="form" label-width="100px">
            <el-row :gutter="20">
              <el-col :sm="12" :lg="8" :xl="6">
                <el-form-item label="提供人">
                  <el-select
                    v-model="provider"
                    class="w-100"
                    filterable
                    placeholder="请选择提供人">
                    <el-option
                      v-for="item in user_list"
                      :key="''+item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :lg="8" :xl="6">
                <el-form-item label="悬赏类型">
                  <el-select
                    v-model="rewardType"
                    class="w-100"
                    filterable
                    placeholder="请选择悬赏类型">
                    <el-option
                      v-for="item in rewardList"
                      :key="item"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :lg="24" :xl="12">
                <el-form-item label="参与人员">
                  <el-transfer
                    filterable
                    :titles="['成员名单', '参与人员']"
                    filter-placeholder="请输入姓名筛选"
                    v-model="rewardUser"
                    :data="user_reward">
                  </el-transfer>
                </el-form-item>
              </el-col>
              <el-button style="float: right; margin-right: 20px" type="primary" plain @click="saveReward">保存</el-button>
            </el-row>
          </el-form>
        </div>
        <div v-if="activeName == 'read'">
          <el-card class="box-card">
            <el-alert
              title="录入提示"
              type="info"
              :closable="false">
              <p>1.金币、河豚、飞镖、无尽、西瓜、宝箱均直接录入实际 <i class="i"> 成绩 </i>即可，比如金币1666个、河豚108只（不带用单位），系统根据成绩自动积分</p>
              <p>2.深渊场次录入实际参战<i class="i"> 场次</i>，系统根据场次自动积分</p>
              <p>3.深渊伤害、家族战团战均为录入<i class="i"> 名次 </i>，系统根据名次自动积分</p>
              <p>4.家族战pvp直接录入<i class="i"> 分数</i>，具体情况：胜场MVP计4分,胜场上榜计3分，胜场未上榜计2分，负场上榜计2分，其他不计分</p>
              <p>5.输入密码后，浏览器将会储存登陆信息<i class="i"> 7天</i>，过期则需要重新登录</p>
              <p>6.开发不易，不喜勿喷，有改进意见可以私聊我，qq:<i class="i"> 285273592</i></p>
              <p>7. <i class="i">后续 </i>将添加项目、积分方式、成员等相关信息的增删改查功能</p>
            </el-alert>
            <el-alert
              title="积分规则"
              type="info"
              :closable="false">
              <h6>目前积分规则由我统一录入数据库,之后有时间会开发录入功能，具体规则如下</h6>
              <h5>1.每周备战副本积分为4分   2分   1分</h5>
                 <p>河豚副本：109只计4分，108只计2分，100-107只计1分，100只以下不计分</p>
                 <p>金币副本：1640以上计4分，1600-1639计2分，1500-1599计1分，1500以下不计分</p>
                 <p>飞镖副本：540以上计4分，500-539计2分，450-499计1分，450以下不计分</p>
                 <p>宝箱副本：54个以上计4分，50-53个计2分，45-49个计1分，45以下不计分</p>
                 <p>无尽副本：4000米以上计4分，3000-3999计2分，2000-2999计1分，2000以下不计分</p>
                 <p>西瓜副本：290以上计4分，250-289计2分，200-249计1分，200以下不计分</p>
              <h5>2.每周家族深渊积分</h5>
                 <p>（1）：以打满4轮为基准，打满4轮积2分，4轮以上每多打1轮增加1分</p>
                 <p>（2）：伤害排名前三位额外积4分</p>
                 <p>（3）：伤害排名第4-10位额外积3分</p>
                 <p>（4）：伤害排名第11-20位额外积2分</p>
                 <p>（5）：伤害排名20位以下额外积1分</p>
              <h5>3.每周家族战积分</h5>
                <p>（1）：团队战，排名第一计6分，第2-6名计4分，7-12名计3分，13-30名计2分，30名开外计1分</p>
                <p>（2）：其他战斗，胜场MVP计4分,胜场上榜计3分，胜场未上榜计2分，负场上榜计2分，其他不计分</p>
              <h5>4.悬赏积分</h5>
                <p>有s，s+，ss三种悬赏的，通过通知管理员，经过管理员安排的才加分，一切遵循自愿原则，管理员不会强制安排</p>
                <p>s悬赏每个位置计1分</p>
                <p>s+悬赏每个位置计2分</p>
                <p>ss悬赏每个位置计4分</p>
                <p>管理员安排的悬赏，管理员会在群里通知全体成员，规定时间报名，报名的人员按上轮积分排名，名次高的优先考虑，已经打满的不允许报名，可以发到等家族频道的。未通知管理员，直接通过群，微信，家族频道拉人的，不计分</p>
              <h5>5.其他</h5>
              <p>积分每周统计一次，每周一次排名</p>
              <p>每月更新一次积分</p>
              <p>每周家族积分要求最低5分，连续两周不达标的踢出家族</p>
            </el-alert>
          </el-card>
        </div>
         <div v-if="activeName == 'user'">
          <el-form class="form" label-width="100px">
            <el-row :gutter="20">
              <el-col :sm="12" :lg="8" :xl="6">
                <el-form-item label="新增">
                  <el-input v-model.number="addUserName"  placeholder="请输入新成员名字"></el-input>
                </el-form-item>
              </el-col>
              <el-button style="float: right; margin-right: 20px" type="primary" plain @click="saveUser">保存</el-button>
            </el-row>
          </el-form>
          <el-card class="box-card">
            <el-form class="form" label-width="150px">
              <el-row :gutter="20">
                <el-col v-for="item in user_record" :sm="12" :lg="8" :xl="6">
                  <el-form-item :label="item.user_name">
                    <el-button type="warning" @click="deleteUser(item.user_id)" plain>删除</el-button>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </el-card>
        </div>
      </el-card>
    </template>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="static/js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="static/js/index.js"></script>
  <script src="static/js/http.js"></script>
  <script src="static/js/lodash.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          fullscreenLoading: false,
          uploadData: {
            type: this.project_id,
            time: "第"+this.time+"周",
          },
          fileList: [],
          start: "2019-07-22 00:00:00",
          addUserName: "",
          rewardData: [],
          rewardUser: [],
          rewardType: "",
          rewardList: ["s","s+","ss","ss+"],
          provider: "",
          name: "record",
          login: false,
          password: 'fry',
          project_id: '',
          time: 1,
          title: {},
          summerData: [],
          orgData: [],
          record: {
            project_id: '',
            user_id: '',
            result: 0
          },
          user_record: [],
          project_list: {},
          user_list: [],
          fullHeight: document.documentElement.clientHeight - 20,
          activeName: 'record',
          idcard: '',
          salary: '',
          social: '',
          info_show: false,
          err_show: false,
          url: '',
          region: {
            addr: '',
            brith: '',
            gender: '',
            err: '',
          },
          tax: {
            new_more: 0,
            new_should: 0,
            new_tax: 0,
            old_should: 0,
            old_tax: 0,
          },
          loading: false,
        }
      },
      computed: {
        maxHeight: function () {
          return {
            'height': this.fullHeight + 'px',
            'overflow':'auto',
            'overflow-x':'hidden'
          }
        },
        user_reward: function () {
          var data = []
          _.forEach(this.user_list,function (o) {
            var r = {}
            r.label = o.name 
            r.key = o.name
            data.push(r)
          })
          return data
        },
        week: function () {
          var ce = 60*60*24*7*1000
          var s = new Date(this.start).getTime()
          var e = new Date().getTime() 

          var z = Math.ceil((e-s) / ce)
          return z
        }
      },
      methods: {
        beforeUpload() {
          this.fullscreenLoading = true
        },
        uploadSuccess(file) {
          this.getUser()
          setTimeout(() => {
            this.fullscreenLoading = false
            this.projectChange()
          },500)
          setTimeout(() => {
            this.fileList = []
          },5000)
        },
        handleExceed(files, fileList) {
          this.$message.warning(`当前限制选择 5 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
        },
        deleteUser(id) {
          this.$confirm('此操作将永久删除该成员, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$http.delete('/user/'+id).then(function(res){
              this.$message({
                message: '删除成功！',
                type: 'success'
              });
              this.getUser()
            },function(res){
                console.log(res.status);
            });
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });          
          });
        },
        saveUser() {
          var data = {name: this.addUserName}
          this.$http.post('/users',data).then(function(res){
            this.$message({
              message: '新增成功！',
              type: 'success'
            });
            this.addUserName = ""
            this.getUser()
          },function(res){
              console.log(res.status);
          });
        },
        getReward() {
          var time = "第"+this.time+"周"
          var project_id = this.project_id
          var provider = this.provider || 0
          this.$http.get('/rewardList?time='+time+'&user_id='+provider ).then(function(res){
            this.rewardData = res.data
          },function(res){
              console.log(res.status);
          });
        },
        saveReward() {
          if (!this.provider) {
            this.$message({
              type: warning,
              message: "请选择提供人",
            })
          } else if (!this.rewardType) {
            this.$message({
              type: warning,
              message: "请选择悬赏类型",
            })
          }
          var data = {}
          data.user_id = parseInt(this.provider)
          data.type = this.rewardType
          data.participant = _.join(this.rewardUser, ' | ')
          data.time = "第"+this.time+"周"
          this.$http.post('/reward',data).then(function(res){
            this.$message({
              message: '保存成功！',
              type: 'success'
            });
            this.provider = ""
            this.rewardType = ""
            this.rewardUser = []
            this.getSummer()
          },function(res){
              console.log(res.status);
          });
        },
        setCookie(name, value) { 
          var exp = new Date(); 
          exp.setTime(exp.getTime() + 60 * 60 * 1000 * 24 * 7); 
          document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/"; 
        },
        getCookie(name) { 
          var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)"); 
          if (arr = document.cookie.match(reg)) 
            return unescape(arr[2]); 
          else 
            return null; 
        },
        projectChange() {
          this.userRecordInit()
          var time = "第"+this.time+"周"
          var project_id = this.project_id
          this.$http.get('/showOne?time='+time+'&project_id='+project_id).then(function(res){
            _.forEach(this.user_record,function(value) {
              _.forEach(res.data,function (v) {
                if (v.User.id == value.user_id) {
                  value.result = v.result
                }
              })
            });
          },function(res){
              console.log(res.status);
          });
        },
        weekChange() {
          this.getSummer()
          this.getReward()
          this.userRecordInit()
          if (this.name == "record") {
            this.projectChange()
          }
        },
        getSummer() {
          var time = "第"+this.time+"周"
          this.$http.get('/recordList?time='+time).then(function(res){
              this.summerData = []
              this.title = res.data.title
              var that = this
              _.forEach(res.data.data,function (o) {
                var d = o
                _.forEach(res.data.title,function (q) {
                  d[q] = o[q] || 0
                })
                that.summerData.push(d)
              })
              this.orgData = res.data.org
          },function(res){
              console.log(res.status);
          });
        },
        saveRecord() {
          if (!this.project_id) {
            this.$message({
              message: '请先选择项目！',
              type: 'warning'
            });
            return
          }
          var data = []
          var project_id = this.project_id
          _.forEach(this.user_record,function(value) {
            if (value.result > 0) {
              data.push({user_id: parseInt(value.user_id),result: value.result,project_id: project_id,time:value.time})
            }
          });
          this.$http.post('/record',data).then(function(res){
            this.$message({
              message: '保存成功！',
              type: 'success'
            });
            this.getSummer()
          },function(res){
              console.log(res.status);
          });
        },
        getProject() {
          this.$http.get('/projects').then(function(res){
              this.project_list = res.data.data
          },function(res){
              console.log(res.status);
          });
        },
        getUser() {
          this.$http.get('/users').then(function(res){
            this.user_list = res.data.data
            // var item = res.data.data 
            // var that = this
            //  _.forEach(item,function(value) {
            //   value.id = parseInt(value.int)
            //   that.user_list.push(value)
            // });
             // console.log(this.user_list,"-------")
            this.userRecordInit()
          },function(res){
              console.log(res.status);
          });
        },
        userRecordInit() {
          this.user_record = []
          var that = this
          _.forEach(this.user_list,function(value) {
            that.user_record.push({user_id: value.id,user_name: value.name,result: 0,time: "第"+that.time+"周"})
          });
        },
        handleClick(tab, event) {
          if (_.indexOf(["record","reward","user"],tab.name) > -1 && !this.login && this.getCookie('password') != this.password) {
            this.$prompt('请输入密码', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
            }).then(({ value }) => {
              if (value == this.password) {
                this.login = true
                this.activeName = this.name
                this.setCookie("password",value)
                this.$message({
                  type: 'success',
                  message: '密码正确！'
                });
              } else {
                this.name = this.activeName
                this.login = false
                this.$message({
                  type: 'warning',
                  message: '密码错误！'
                });
              }
              
            }).catch(() => {
              this.name = this.activeName
              this.$message({
                type: 'info',
                message: '取消输入'
              });       
            });
          } else {
            // this.login = true
            this.activeName = this.name
          }
          this.init()
        },
        init() {
          this.getReward()
          this.getSummer()
        }
      },
      mounted() {
        this.getReward()
        this.getSummer()
        this.getProject()
        this.getUser()
      },
      watch: {
        project_id() {
          this.uploadData = {
            type: this.project_id,
            time: "第"+this.time+"周"
          }
        },
        time() {
          this.uploadData = {
            type: this.project_id,
            time: "第"+this.time+"周"
          }
        }
      }
    })
  </script>
  <style type="text/css">
    .i {
      color: #67C23A;
    }
    .w-100 {
      width: 100%;
    }
    .form {
      margin-bottom: 10px;
    }
    .info {
      background-color: #f3f3f380;
    }
    .info div {
      margin: 5px;
    }
    .box-card {
      border-top-color: #409EFF;
      border-top-width: 3px;
    }
    .el-transfer-panel__body {
      height: 450px;
    }
    .el-transfer-panel__list.is-filterable {
      height: 398px;
    }
  </style>
</html>