<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <div id="app">
    <template>
      <el-card :style="maxHeight">
        <el-tabs v-model="name" @tab-click="handleClick">
          <el-tab-pane label="汇总数据" name="summer"></el-tab-pane>
          <el-tab-pane label="战绩查看" name="see"></el-tab-pane>
          <el-tab-pane label="战绩录入" name="record"></el-tab-pane>
          <el-tab-pane label="悬赏分配" name="reward"></el-tab-pane>
          <el-tab-pane label="用前必读" name="read"></el-tab-pane>
        </el-tabs>
        <div style="margin: 0px 10px 20px 10px;">
          <span>今天属于统计数据以来的第{{week}}周,录入周次不用选择，系统自动计算</span>
          <span style="float: right;">
            选择查看周数：<el-input-number size="small" v-model="time" @change="weekChange" :min="1" label="请选择周数"></el-input-number>
          </span>
        </div>
        <div v-if="activeName == 'summer'">
          <el-card class="box-card">
            <el-table
              show-summary
              :data="summerData"
              style="width: 100%"
              :height="fullHeight - 170"
              :default-sort = "{prop: '总分', order: 'descending'}"
              >
              <el-table-column
                prop="成员"
                label="成员"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="总分"
                label="总分"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                v-for="item in title"
                :prop="item"
                sortable
                :label="item"
                min-width="200">
                <!-- <template slot-scope="scope">{{ scope.row[item] || 0}}</template> -->
              </el-table-column>
            </el-table>
          </el-card>
        </div>
        <div v-if="activeName == 'see'">
          <el-card class="box-card">
            <el-table
              :data="orgData"
              style="width: 100%"
              :height="fullHeight - 170"
              :default-sort = "{prop: '项目', order: 'descending'}">
              <el-table-column
                prop="成员"
                sortable
                label="成员"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="项目"
                sortable
                label="项目"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="成绩"
                label="成绩"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="分数"
                label="分数"
                sortable
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="时间"
                label="时间"
                sortable
                min-width="200">
              </el-table-column>
            </el-table>
          </el-card>
        </div>
        <div v-if="activeName == 'record' && login">
          <el-form class="form" label-width="100px">
            <el-row :gutter="20">
              <el-col :sm="12" :lg="8" :xl="6">
                <el-form-item label="项目">
                  <el-select
                    v-model="project_id"
                    class="w-100"
                    @change="projectChange"
                    placeholder="请选择项目">
                    <el-option
                      v-for="item in project_list"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-button style="float: right; margin-right: 20px" type="primary" plain @click="saveRecord">保存</el-button>
            </el-row>
          </el-form>
          <el-card class="box-card">
            <el-form class="form" label-width="150px">
              <el-row :gutter="20">
                <el-col v-for="item in user_record" :sm="12" :lg="8" :xl="6">
                  <el-form-item :label="item.user_name">
                    <el-input v-model.number ="item.result"  placeholder="请输入成绩"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </el-card>
        </div>
        <div v-if="activeName == 'reward' && login">
          <el-alert
            title="后续完善"
            type="info">
          </el-alert>
        </div>
        <div v-if="activeName == 'read' && login">
          <el-card class="box-card">
            <el-alert
              title="提示"
              type="info"
              :closable="false">
              <p>1.金币、河豚、飞镖、无尽、西瓜、宝箱均直接录入实际 <i class="i"> 成绩 </i>即可，比如金币1666个、河豚108只（不带用单位），系统根据成绩自动积分</p>
              <p>2.深渊场次录入实际参战<i class="i"> 场次</i>，系统根据场次自动积分</p>
              <p>3.深渊伤害、家族战团战均为录入<i class="i"> 名次 </i>，系统根据名次自动积分</p>
              <p>4.家族战pvp直接录入<i class="i"> 分数</i>，具体情况：胜场MVP计4分,胜场上榜计3分，胜场未上榜计2分，负场上榜计2分，其他不计分</p>
              <p>5.输入密码后，浏览器将会储存登陆信息<i class="i"> 1天</i>，过期则需要重新登录</p>
              <p>6.开发不易，不喜勿喷，有改进意见可以私聊我，qq:<i class="i"> 285273592</i></p>
              <p>7. <i class="i">后续 </i>将添加项目、积分方式、成员等相关信息的增删改查功能</p>
            </el-alert>
          </el-card>
        </div>
      </el-card>
    </template>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="static/js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="static/js/index.js"></script>
  <script src="static/js/http.js"></script>
  <script src="static/js/lodash.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          name: "summer",
          login: false,
          password: 'fry',
          project_id: '',
          week: 1,
          time: 1,
          title: {},
          summerData: [],
          orgData: [],
          record: {
            project_id: '',
            user_id: '',
            result: 0
          },
          user_record: [],
          project_list: {},
          user_list: {},
          fullHeight: document.documentElement.clientHeight - 20,
          activeName: 'summer',
          idcard: '',
          salary: '',
          social: '',
          info_show: false,
          err_show: false,
          url: '',
          region: {
            addr: '',
            brith: '',
            gender: '',
            err: '',
          },
          tax: {
            new_more: 0,
            new_should: 0,
            new_tax: 0,
            old_should: 0,
            old_tax: 0,
          },
          loading: false,
        }
      },
      computed: {
        maxHeight: function () {
          return {
            'height': this.fullHeight + 'px',
            'overflow':'auto',
            'overflow-x':'hidden'
          }
        }
      },
      methods: {
        setCookie(name, value) { 
          var exp = new Date(); 
          exp.setTime(exp.getTime() + 60 * 60 * 1000); 
          document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/"; 
        },
        getCookie(name) { 
          var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)"); 
          if (arr = document.cookie.match(reg)) 
            return unescape(arr[2]); 
          else 
            return null; 
        },
        projectChange() {
          this.userRecordInit()
          var time = "第"+this.time+"周"
          var project_id = this.project_id
          this.$http.get('/showOne?time='+time+'&project_id='+project_id).then(function(res){
            _.forEach(this.user_record,function(value) {
              _.forEach(res.data,function (v) {
                if (v.User.id == value.user_id) {
                  value.result = v.result
                }
              })
            });
          },function(res){
              console.log(res.status);
          });
        },
        weekChange() {
          this.getSummer()
        },
        getSummer() {
          var time = "第"+this.time+"周"
          this.$http.get('/recordList?time='+time).then(function(res){
              this.summerData = []
              this.title = res.data.title
              var that = this
              _.forEach(res.data.data,function (o) {
                var d = o
                _.forEach(res.data.title,function (q) {
                  d[q] = o[q] || 0
                })
                that.summerData.push(d)
              })
              this.orgData = res.data.org
          },function(res){
              console.log(res.status);
          });
        },
        saveRecord() {
          if (!this.project_id) {
            this.$message({
              message: '请先选择项目！',
              type: 'warning'
            });
            return
          }
          var data = []
          var project_id = this.project_id
          _.forEach(this.user_record,function(value) {
            if (value.result > 0) {
              data.push({user_id: value.user_id,result: value.result,project_id: project_id})
            }
          });
          this.$http.post('/record',data).then(function(res){
            this.$message({
              message: '保存成功！',
              type: 'success'
            });
            this.getSummer()
          },function(res){
              console.log(res.status);
          });
        },
        getProject() {
          this.$http.get('/projects').then(function(res){
              this.project_list = res.data.data
          },function(res){
              console.log(res.status);
          });
        },
        getUser() {
          this.$http.get('/users').then(function(res){
              this.user_list = res.data.data
              this.userRecordInit()
          },function(res){
              console.log(res.status);
          });
        },
        userRecordInit() {
          this.user_record = []
          var that = this
          _.forEach(this.user_list,function(value) {
            that.user_record.push({user_id: value.id,user_name: value.name,result: 0})
          });
        },
        handleClick(tab, event) {
          if (_.indexOf(["summer","see"],tab.name) == -1 && !this.login && this.getCookie('password') != this.password) {
            this.$prompt('请输入密码', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
            }).then(({ value }) => {
              if (value == this.password) {
                this.login = true
                this.activeName = this.name
                this.setCookie("password",value)
                this.$message({
                  type: 'success',
                  message: '密码正确！'
                });
              } else {
                this.name = this.activeName
                this.login = false
                this.$message({
                  type: 'warning',
                  message: '密码错误！'
                });
              }
              
            }).catch(() => {
              this.name = this.activeName
              this.$message({
                type: 'info',
                message: '取消输入'
              });       
            });
          } else {
            // this.login = true
            this.activeName = this.name
          }
          this.init()
        },
        urlDownload() {
          this.loading = true;
          this.init()
          this.$http.get('/imitate/?url='+this.url).then(function(res){
              this.loading = false;
              item = res.data
              if (item.code == 200) {
                setTimeout(window.open(item.data, '_blank'), 500);
              } else {
                this.$message({
                  message: '下载失败!',
                  type: 'warning'
                });
              }

          },function(res){
              console.log(res.status);
          });
        },
        regionQ() {
          this.init()
          this.$http.get('/region/?idcard='+this.idcard).then(function(res){
              item = res.data.data
              this.region.addr = item.Addr
              this.region.brith = item.Birth
              this.region.gender = item.Gender
              this.region.err = item.Err
              if (item.Err != '') {
                this.err_show = true
              } else {
                this.info_show = true
              }
          },function(res){
              console.log(res.status);
          });
        },
        taxQ() {
          this.init()
          this.$http.get('/tax/?salary='+this.salary+'&social='+this.social||0).then(function(res){
            this.info_show = true
            item = res.data.data
            this.tax.new_more = item.newMore
            this.tax.new_should = item.newShould
            this.tax.new_tax = item.newTax
            this.tax.old_should = item.oldShould
            this.tax.old_tax = item.oldTax
          },function(res){
              console.log(res.status);
          });
        },
        init() {
          // this.info_show = false
          // this.err_show = false
        }
      },
      mounted() {
        this.getSummer()
        this.getProject()
        this.getUser()
      },
      watch: {
        salary() {
          this.taxQ()
        },
        social() {
          this.taxQ()
        }
      }
    })
  </script>
  <style type="text/css">
    .i {
      color: #67C23A;
    }
    .w-100 {
      width: 100%;
    }
    .form {
      margin-bottom: 10px;
    }
    .info {
      background-color: #f3f3f380;
    }
    .info div {
      margin: 5px;
    }
    .box-card {
      border-top-color: #409EFF;
      border-top-width: 3px;
    }
  </style>
</html>